/* ====================================================== Specific to Add Bar modal ====================================================== */
.modal .modal-sub-div .add-bar-color {
  width: 60%;
  display: flex; justify-content: start; align-items: center;
}

.modal .modal-sub-div .add-bar-color input[type="color"] { 
  width: 120px;
  background: 
    linear-gradient(to right, #12c2e9, #c471ed, #f64f59) padding-box,
    linear-gradient(to right, #12c2e9, #c471ed, #f64f59) border-box;
  border: none;
  border-radius: 20px;
}
.modal .modal-sub-div .add-bar-color input::-webkit-color-swatch {
  box-shadow: 0 0 2px 1px white;
  border: none;
  border-radius: 20px;
}

#modal-submit {
  right: 4%;
  background: pink;
}
#modal-submit:disabled {
  background: grey;
}
#modal-submit:active,
#modal-cancel:active {
  scale: 0.90;
}
#modal-cancel {
  right: 30%;
  background: rgb(183, 228, 255);
}