#circles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

@keyframes d2u-s2c {
  0% {
    opacity: 1;
    border-radius: 0;
    translate: 0 0;
    rotate: 0deg;
  } 100% {
    opacity: 0;
    border-radius: 50%;
    translate: 0 -66vh;
    rotate: 720deg;
  }
}

@keyframes u2d-s2c {
  0% {
    opacity: 1;
    border-radius: 0;
    translate: 0 0;
    rotate: 0deg;
  } 100% {
    opacity: 0;
    border-radius: 50%;
    translate: 0 66vh;
    rotate: 720deg;
  }
}

#circles .circle {
  --dim: 20px;
  position: absolute;
  width: var(--dim); height: var(--dim);
  border-radius: 50%;
  background: radial-gradient(circle calc(var(--dim) / 1.5), transparent 10%, rgba(255, 255, 255, 0.55) 70%, rgb(0 0 0 / 0.1) 95%);
  /* filter: blur(1px); */
  backdrop-filter: blur(20px) grayscale(100%);
} #circles .circle.u2d-circles {
  top: -25vh;
  animation: u2d-s2c 15s linear infinite;
} #circles .circle.d2u-circles {
  top: 116vh;
  animation: d2u-s2c 15s linear infinite;
}

#circles .d2u-circles:nth-child(1) {
  --dim: 80px;
  width: var(--dim); height: var(--dim);
  left: 10%;
  animation-delay: 0s;
}
#circles .d2u-circles:nth-child(2) {
  --dim: 40px;
  left: 25%;
  width: var(--dim); height: var(--dim);
  animation-duration: 12s;
}
#circles .d2u-circles:nth-child(3) {
  --dim: 150px;
  top: 140vh; left: 50%;
  width: var(--dim); height: var(--dim);
}
#circles .d2u-circles:nth-child(4) {
  --dim: 60px;
  right: 30%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 8s;
}
#circles .d2u-circles:nth-child(5) {
  --dim: 120px;
  top: 100vh; right: 5%;
  width: var(--dim); height: var(--dim);
}


#circles :nth-child(1 of .u2d-circles) {
  --dim: 80px;
  right: 5%;
  width: var(--dim); height: var(--dim);
}
#circles :nth-child(2 of .u2d-circles) {
  --dim: 40px;
  right: 30%;
  width: var(--dim); height: var(--dim);
  animation-duration: 8s;
}
#circles :nth-child(3 of .u2d-circles) {
  --dim: 150px;
  top: -20vh; left: 50%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 10s;
}
#circles :nth-child(4 of .u2d-circles) {
  --dim: 60px;
  left: 25%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 8s;
}
#circles :nth-child(5 of .u2d-circles) {
  --dim: 120px;
  top: -10vh; left: 10%;
  width: var(--dim); height: var(--dim);
}