#squares {
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

@keyframes d2u-s2c {
  0% {
    opacity: 1;
    /* border-radius: 0; */
    translate: 0 0;
    rotate: 0deg;
  } 100% {
    opacity: 0;
    /* border-radius: 50%; */
    translate: 0 -66vh;
    rotate: 360deg;
  }
}

@keyframes u2d-s2c {
  0% {
    opacity: 1;
    /* border-radius: 0; */
    translate: 0 0;
    rotate: 0deg;
  } 100% {
    opacity: 0;
    /* border-radius: 50%; */
    translate: 0 66vh;
    rotate: 360deg;
  }
}

#squares .square {
  --dim: 20px;
  position: absolute;
  width: var(--dim); height: var(--dim);
  border-radius: calc(var(--dim) / 8);
  border-style: solid;
  border-width: calc(var(--dim) / 30);
  border-top-color: var(--accent-clr-1-hex);
  border-left-color: var(--accent-clr-1-hex);
  border-bottom-color: var(--accent-clr-2-hex);
  border-right-color: var(--accent-clr-2-hex);
  /* border: calc(var(--dim) / 30) solid var(--accent-clr-1-hex); */
  box-shadow: inset calc(var(--dim) / 15) 0px calc(var(--dim) / 10) rgba(var(--accent-clr-1-rgb), 0.5),
              inset 0px calc(var(--dim) / 15) calc(var(--dim) / 10) rgba(var(--accent-clr-1-rgb), 0.5),
              inset calc(-1 * var(--dim) / 15) 0px calc(var(--dim) / 10) rgba(var(--accent-clr-2-rgb), 0.5),
              inset 0px calc(-1* var(--dim) / 15) calc(var(--dim) / 10) rgba(var(--accent-clr-2-rgb), 0.5);
  /* filter: blur(1px); */
  backdrop-filter: blur(5px);
} #squares .square.u2d-squares {
  top: -25vh;
  animation: u2d-s2c 15s linear infinite;
} #squares .square.d2u-squares {
  top: 116vh;
  animation: d2u-s2c 15s linear infinite;
}

#squares .d2u-squares:nth-child(1) {
  --dim: 80px;
  width: var(--dim); height: var(--dim);
  left: 10%;
  animation-delay: 0s;
}
#squares .d2u-squares:nth-child(2) {
  --dim: 40px;
  left: 25%;
  width: var(--dim); height: var(--dim);
  animation-duration: 12s;
}
#squares .d2u-squares:nth-child(3) {
  --dim: 150px;
  top: 140vh; left: 50%;
  width: var(--dim); height: var(--dim);
}
#squares .d2u-squares:nth-child(4) {
  --dim: 60px;
  right: 30%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 8s;
}
#squares .d2u-squares:nth-child(5) {
  --dim: 120px;
  top: 100vh; right: 5%;
  width: var(--dim); height: var(--dim);
}


#squares :nth-child(1 of .u2d-squares) {
  --dim: 80px;
  right: 5%;
  width: var(--dim); height: var(--dim);
}
#squares :nth-child(2 of .u2d-squares) {
  --dim: 40px;
  right: 30%;
  width: var(--dim); height: var(--dim);
  animation-duration: 8s;
}
#squares :nth-child(3 of .u2d-squares) {
  --dim: 150px;
  top: -20vh; left: 50%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 10s;
}
#squares :nth-child(4 of .u2d-squares) {
  --dim: 60px;
  left: 25%;
  width: var(--dim); height: var(--dim);
  animation-delay: 4s;
  animation-duration: 8s;
}
#squares :nth-child(5 of .u2d-squares) {
  --dim: 120px;
  top: -10vh; left: 10%;
  width: var(--dim); height: var(--dim);
}