.modal {
  width: 500px; height: 300px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  
  transition: scale 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ====================================================== Common to all modals ====================================================== */
.modal .header {
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
}

.modal .modal-txt-input {
  padding: 15px;
  display: flex; justify-content: start; align-items: center;
}

.modal label {
  font-size: 1.5em;
  padding-right: 12px;
  color: var(--stands-for-color);
}

.modal input[type=text] {
  outline: none; border: none;
  padding: 4px;
  font-size: 18px;
  border-radius: 10px;
  border-bottom: 2px solid #ffc0cb;
  color: grey;
}

.modal .modal-sub-div {
  display: flex; justify-content: space-between; align-items: center;
}

.modal .modal-sub-div .modal-txt-input  {
  width: 40%;
}

.modal .modal-sub-div .modal-txt-input input {
  width: 30%;
}

.modal button {
  position: absolute;
  top: 85%; 
  width: 120px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  transition: scale 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}