@import url('./css/bg-circles.css');
@import url('./css/main-container.css');
@import url('./css/title.css');
@import url('./css/control-panel.css');
@import url('./css/blocker-modal-common.css');
@import url('./css/add-bar-modal.css');
@import url('./css/edit-bar.css');
@import url('./css/info.css');

:root {
  --landing-clr-rgb: 17, 17, 17;
  --landing-clr-hex: #111111;
  --landing-btn-rgb: 55, 55, 55;
  --landing-btn-hex: #373737;
  
  --bg-clr-rgb: 255, 255, 255;
  --bg-clr-hex: #ffffff;
  --accent-clr-1-rgb: 183, 228, 255;
  --accent-clr-1-hex: #b7e4ff;
  --accent-clr-2-rgb: 255, 192, 203;
  --accent-clr-2-hex: #ffc0cb;

  --axes-clr-rgb: 128, 128, 128;
  --axes-clr-hex: #808080;
  --tick-clr-1-rgb: 206, 0, 0;
  --tick-clr-1-hex: #ce0000;
  --tick-clr-2-rgb: 255, 183, 0;
  --tick-clr-2-hex: #ffb700;
  --tick-clr-3-rgb: 0, 128, 0;
  --tick-clr-3-hex: #008000;


  --abs-blk-rgb: 0, 0, 0;
  --abs-blk-hex: #000000;
  
  --primary-font-rgb: 255, 255, 255;
  --primary-font-hex: #ffffff;
  --stands-for-color: grey;


  --tick-text: '0';
  --stands-for-text: 'Stands For?';
  --bar-index-left: -24px;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, var(--accent-clr-1-hex), var(--accent-clr-2-hex));
}

#landing-container {
  max-width: 100vw;
  height: 100vh;
  background: var(--landing-clr-hex);
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  color: var(--primary-font-hex);
}

#landing-title {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  text-align: center;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 10px;
}

#start-btn {
  margin-top: 2em;
  position: relative;
  padding: 15px 45px;
  
  background-color: rgb(var(--landing-btn-rgb));
  
  color: var(--primary-font-hex);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  transition: .25s;
  cursor: pointer;
}

#start-btn span {
  position: relative;
  z-index: 1;
  margin-right: -10px;
}

#start-btn:hover {
  letter-spacing: 20px;
  color: var(--clr);
  background: linear-gradient(45deg, var(--accent-clr-1-hex), var(--accent-clr-2-hex));
  /* background-color: var(--clr); */
  box-shadow: 0 0 1em var(--clr);
}

#start-btn:hover span {
  margin-right: -20px;
}

#start-btn::before {
  content: '';
  position: absolute;
  background-color: var(--landing-clr-hex);
  inset: 2px;
}

#start-btn i {
  position: absolute;
  inset: 0;
}

#start-btn i::before {
  content: '';
  position: absolute;
  top: -10px; left: 100%;
  width: 20px; height: 20px;
  
  transform: translateX(-50%);

  background-color: var(--landing-btn-hex);
  border: 2px solid var(--clr);

  transition: .5s;
}

#start-btn:hover i::before {
  left: 0%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 37px 37px var(--clr);
}

#start-btn i::after {
  content: '';
  position: absolute;
  bottom: -11px; left: 0%;
  width: 20px; height: 20px;
  
  transform: translateX(-50%);
  
  background-color: rgb(35, 35, 35);
  border: 2px solid var(--clr);
  
  transition: .5s;
}

#start-btn:hover i::after {
  left: 100%;
  transform: translateX(-50%) rotate(-45deg);
  box-shadow: 37px -37px var(--clr);
}

#start-btn:active {
  scale: .9;
}

#canvas-section {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(var(--bg-clr-rgb), 0.5);
  border-radius: 25px;
  border: 2px solid var(--bg-clr-hex);
  transition: background .5s, box-shadow .5s;
  box-shadow: 0 2px 5px 0px rgb(var(--abs-blk-rgb), 0.35);
}

.container:hover {
  background: var(--bg-clr-hex);
  box-shadow: 0 2px 5px 0px rgb(var(--abs-blk-rgb), 0.45);
}